/*首页 样式*/
.firstPage {
  height: 100vh;
}
.firstPage .top-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.firstPage .banner {
  height: 100vh;
  padding-top: 280px;
  box-sizing: border-box;
}
.firstPage .banner .swiper-container {
  height: 100%;
}
.firstPage .banner .swiper-container .slide {
  height: 100%;
}
.firstPage .banner .swiper-container .slide > img {
  height: 100%;
}
.index-aside-nav {
  position: fixed;
  right: 50px;
  top: 60%;
  transform: translateY(-50%);
  width: 110px;
  z-index: 999;
}
.index-aside-nav .tab-list {
  position: relative;
}
.index-aside-nav .tab-list .tab {
  position: relative;
  height: 100px;
  text-align: center;
  cursor: pointer;
}
.index-aside-nav .tab-list .tab .tab-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.index-aside-nav .tab-list .tab .tab-content .tab-name {
  margin-top: 10px;
  font-family: PingFang-SC-Bold;
  font-size: 18px;
  letter-spacing: 0px;
  color: #fff;
  white-space: nowrap;
}
.index-aside-nav .tab-list .tab:nth-child(1) {
  border-radius: 5px 5px 0px 0px;
  background-image: linear-gradient(0deg, #f07b15 0%, #ffcc17 100%);
}
.index-aside-nav .tab-list .tab:nth-child(2),
.index-aside-nav .tab-list .tab:nth-child(3) {
  margin-top: 5px;
}
.index-aside-nav .tab-list .tab:nth-child(2) {
  background-image: linear-gradient(0deg, #ef6d01 0%, #f0811e 100%);
}
.index-aside-nav .tab-list .tab:nth-child(3) {
  height: 36px;
  background-color: #ef6d01;
  border-radius: 0px 0px 5px 5px;
}
.index-aside-nav .tab-list .tab:nth-child(3) .tab-name {
  margin-top: 0;
}
.index-aside-nav .bg {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, -100%);
}
.index-aside-nav .form-container {
  display: none;
  position: absolute;
  left: -6px;
  top: 0;
  transform: translateX(-100%);
  width: 350px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  z-index: 999;
}
.index-aside-nav .form-container .form-title {
  height: 60px;
  line-height: 60px;
  font-family: PingFang-SC-Bold;
  font-size: 28px;
  letter-spacing: 0px;
  color: #fff;
  background-color: #ef6d01;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}
.index-aside-nav .form-container .audition-form {
  padding: 25px 36px 50px;
}
.index-aside-nav .form-container .audition-form .input-item {
  margin-top: 11px;
  font-family: PingFang-SC-Medium;
  color: #666;
  height: 35px;
}
.index-aside-nav .form-container .audition-form .input-item > input {
  height: 100%;
  width: 100%;
  padding: 0 16px;
  border-radius: 3px;
  border: solid 1px #bfbfbf;
  font-size: 16px;
  color: #666;
}
.index-aside-nav .form-container .audition-form .input-item > select {
  height: 100%;
  width: 100%;
  padding: 0 12px;
  font-size: 16px;
  color: #666;
  border-radius: 3px;
  border: solid 1px #bfbfbf;
  outline: none;
}
.index-aside-nav .form-container .audition-form .input-item:nth-child(2) > select {
  float: left;
  height: 100%;
  width: 139px;
  padding: 0 12px;
  font-size: 16px;
  color: #666;
  border-radius: 3px;
  border: solid 1px #bfbfbf;
  outline: none;
}
.index-aside-nav .form-container .audition-form .input-item:nth-child(2) > select:nth-child(1) {
  width: 132px;
  margin-right: 7px;
}
.index-aside-nav .form-container .audition-form .input-item:nth-child(2) > select .fontColor9 {
  color: #999;
}
.index-aside-nav .form-container .audition-form .btn-submit {
  display: block;
  margin-top: 20px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #fff !important;
  text-align: center;
  background-color: #ef6d01;
  border-radius: 3px;
  cursor: pointer;
}
.index-aside-nav .kczy-container {
  display: none;
  position: absolute;
  left: -6px;
  top: 0;
  transform: translateX(-100%);
  width: 350px;
  height: 400px;
  background-color: #ffffff;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  z-index: 999;
}
.index-aside-nav .kczy-container .form-title {
  height: 60px;
  line-height: 60px;
  font-family: PingFang-SC-Bold;
  font-size: 28px;
  letter-spacing: 0px;
  color: #fff;
  background-color: #ef6d01;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}
.index-aside-nav .kczy-container .inner-box {
  text-align: center;
}
.index-aside-nav .kczy-container .inner-box .qrcode > img {
  width: 183px;
  height: auto;
}
.index-aside-nav .kczy-container .inner-box .desc {
  margin-top: 10px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #999;
}
.index-aside-nav .kczy-container .inner-box .tel {
  margin-top: 30px;
  font-size: 28px;
  line-height: 1em;
  letter-spacing: 0px;
  color: #333;
}
.index-aside-nav .close_tc {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.index-aside-nav .close_tc > img {
  width: 30px;
  height: auto;
}
.index_main .column-wrapper .column1 .column-content {
  margin-top: 80px;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem {
  float: left;
  width: 285px;
  height: 420px;
  padding: 30px 15px;
  margin-right: 20px;
  border-radius: 5px;
  letter-spacing: 0px;
  background-color: #0798d9;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem:nth-child(2) {
  background-color: #e34752;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem:nth-child(2) .item .key {
  color: #e34752;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem:nth-child(3) {
  background-color: #ffa200;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem:nth-child(3) .item .key {
  color: #ffa200;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem:nth-child(4) {
  margin-right: 0;
  background-color: #009d46;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem:nth-child(4) .item .key {
  color: #009d46;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem .kcName {
  font-size: 28px;
  line-height: 30px;
  color: #fffefe;
  text-align: center;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem .kcClass {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem .item {
  margin-top: 10px;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem .item .key {
  display: inline-block;
  width: 100px;
  height: 30px;
  margin-right: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #42bced;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem .item .value {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}
.index_main .column-wrapper .column1 .column-content .kcList .kcItem .courses .value {
  font-size: 16px;
}
.index_main .column-wrapper .column1 .column-content .btn-audition {
  display: block;
  margin: 100px auto 30px;
  width: 180px;
  height: 50px;
  line-height: 50px;
  font-family: PingFang-SC-Bold;
  font-size: 20px;
  color: #ef6d01 !important;
  text-align: center;
  border-radius: 5px;
  border: solid 1px #ef6d01;
}
.index_main .column-wrapper .column2 .column-content {
  margin-top: 50px;
}
.index_main .column-wrapper .column2 .column-content .intro {
  font-size: 18px;
  line-height: 30px;
  text-indent: 2em;
  letter-spacing: 0px;
  color: #666666;
  text-align: justify;
}
.index_main .column-wrapper .column2 .column-content .btn-more {
  display: block;
  margin: 70px auto 0;
  width: 180px;
  height: 50px;
  line-height: 50px;
  font-family: PingFang-SC-Bold;
  font-size: 20px;
  color: #666;
  border-radius: 5px;
  border: solid 1px #666;
  text-align: center;
}
.index_main .column-wrapper .column3 .column-content {
  margin-top: 60px;
  padding-bottom: 80px;
}
.index_main .column-wrapper .column3 .column-content .series {
  position: relative;
  text-align: center;
}
.index_main .column-wrapper .column3 .column-content .series .textbook {
  position: absolute;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0px;
}
.index_main .column-wrapper .column3 .column-content .series .textbook1 {
  top: 66px;
  left: 100px;
  color: #0798d9;
}
.index_main .column-wrapper .column3 .column-content .series .textbook2 {
  top: 72px;
  right: 60px;
  color: #e34752;
}
.index_main .column-wrapper .column3 .column-content .series .textbook3 {
  top: 195px;
  left: 60px;
  color: #ffa200;
}
.index_main .column-wrapper .column3 .column-content .series .textbook4 {
  top: 193px;
  right: 0;
  color: #009d46;
}
.index_main .column-wrapper .column3 .column-content .desc {
  margin-top: 60px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #666;
  text-indent: 2em;
  text-align: justify;
}
.index_main .column-wrapper .column4 .column-content {
  position: relative;
  margin-top: 70px;
}
.index_main .column-wrapper .column4 .column-content .teacher-swiper {
  width: 960px;
  margin: 0 auto;
}
.index_main .column-wrapper .column4 .column-content .teacher-swiper .slide .item-teacher .teacher-photo {
  float: left;
  margin-right: 50px;
}
.index_main .column-wrapper .column4 .column-content .teacher-swiper .slide .item-teacher .teacher-profile {
  float: left;
  width: 730px;
  letter-spacing: 0px;
}
.index_main .column-wrapper .column4 .column-content .teacher-swiper .slide .item-teacher .teacher-profile .name {
  margin-top: 20px;
  font-family: PingFang-SC-Bold;
  font-size: 28px;
  line-height: 1em;
  color: #333333;
}
.index_main .column-wrapper .column4 .column-content .teacher-swiper .slide .item-teacher .teacher-profile .slogan {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1em;
  color: #666666;
}
.index_main .column-wrapper .column4 .column-content .teacher-swiper .slide .item-teacher .teacher-profile .motto {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  text-align: justify;
}
.index_main .column-wrapper .column4 .column-content .teacher-swiper .slide .item-teacher:nth-child(2) {
  margin-top: 70px;
}
.index_main .column-wrapper .column4 .column-content .btn-more {
  display: block;
  margin: 80px auto 110px;
  width: 180px;
  height: 50px;
  font-family: PingFang-SC-Bold;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0px;
  color: #ef6d01 !important;
  border-radius: 5px;
  border: solid 1px #fb8e33;
  text-align: center;
  cursor: pointer;
}
.index_main .column-wrapper .column4 .column-content .swiper-button-next,
.index_main .column-wrapper .column4 .column-content .swiper-button-prev {
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.4);
  outline: none;
}
.index_main .column-wrapper .column4 .column-content .swiper-button-next {
  right: 0;
  background: url("../img/icon1.png") no-repeat;
  background-size: cover;
}
.index_main .column-wrapper .column4 .column-content .swiper-button-prev {
  left: 0;
  background: url("../img/icon2.png") no-repeat;
  background-size: cover;
}
.index_main .banner2 {
  text-align: center;
}
.index_main .shallow-bg {
  background-color: #f9f9f9;
}
